body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #F5F0E6;
}

.header {
  background: #4E342E;
  color: white;
}

.gold-btn {
  background: #C9A227;
  border: none;
  color: white;
}

.gold-btn:hover {
  opacity: 0.85;
}


.login-btn{
    background-color: #d84315;
    color: white;
    border-radius: 10px;
}


.chat-bg {
  background-image: url('/images/daunbaru.jpg');
  background-size: 300px;
  background-repeat: repeat;
}